body{
    background-color: black;
}
h1{
    color: red;
    margin-bottom: -5px;

}
p{
    margin-bottom: 10px;

}
#instr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:dodgerblue;

}
.main{
    text-align: center;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
}
.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 70px;
}
.cell :active{
    outline: none;
}
#b1{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
}
#b2{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-left: 1px solid gray;

}
#b3{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-left: 1px solid gray;
}
#b4{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-top: 1px gray solid;
}
#b5{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-top: 1px gray solid;
    border-left: 1px gray solid;

}
#b6{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-top: 1px gray solid;
    border-left: 1px gray solid;

}
#b7{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-top: 1px gray solid;
}
#b8{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
}
#b9{
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
}
#button{
    width: 95px;
    height: 45px;
    border:1px solid dodgerblue;
    margin-left: auto;
    border-radius: 8px;
    background-color: whitesmoke;
    color:dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
}
#print{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: dodgerblue;
}